---
# Name:       Base16 Ocean Light
# Author:     Chris Kempson (http://chriskempson.com)
#
# Pygments template by Jan T. Sott (https://github.com/idleberg)
# Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
---
$base00: #2b303b;
$base01: #343d46;
$base02: #4f5b66;
$base03: #65737e;
$base04: #a7adba;
$base05: #c0c5ce;
$base06: #dfe1e8;
$base07: #eff1f5;
$base08: #bf616a;
$base09: #d08770;
$base0A: #ebcb8b;
$base0B: #a3be8c;
$base0C: #96b5b4;
$base0D: #8fa1b3;
$base0E: #b48ead;
$base0F: #ab7967;

.highlight {
  background-color: #eff1f5;
  color: $base02;
  border: 1px solid $base05;
  padding: 6px 10px;
}
.highlight .hll { background-color: $base06 }
.highlight .c   { color: $base04;                    } /* Comment */
.highlight .err { color: $base08;                    } /* Error */
.highlight .g   { color: $base08;                    } /* Generic */
.highlight .k   { color: $base0E;                    } /* Keyword */
.highlight .l   { color: $base09;                    } /* Literal */
.highlight .n   { color: $base08;                    } /* Name */
.highlight .o   { color: $base02;                    } /* Operator */
.highlight .x   { color: $base08;                    } /* Other */
.highlight .p   { color: $base00;                    } /* Punctuation */
.highlight .cm  { color: $base03;                    } /* Comment.Multiline */
.highlight .cp  { color: $base03;                    } /* Comment.Preproc */
.highlight .c1  { color: $base03;                    } /* Comment.Single */
.highlight .cs  { color: $base03;                    } /* Comment.Special */
.highlight .gd  { color: $base08;                    } /* Generic.Deleted */
.highlight .ge  { color: $base02; font-style: italic } /* Generic.Emph */
.highlight .gh  { color: $base00; font-weight: bold  } /* Generic.Heading */
.highlight .gi  { color: $base0B;                    } /* Generic.Inserted */
.highlight .gp  { color: $base04; font-weight: bold  } /* Generic.Prompt */
.highlight .gs  { color: $base02; font-weight: bold  } /* Generic.Strong */
.highlight .gu  { color: $base0C; font-weight: bold  } /* Generic.Subheading */
.highlight .kc  { color: $base0E;                    } /* Keyword.Constant */
.highlight .kd  { color: $base0E;                    } /* Keyword.Declaration */
.highlight .kn  { color: $base0C;                    } /* Keyword.Namespace */
.highlight .kp  { color: $base0D;                    } /* Keyword.Pseudo */
.highlight .kr  { color: $base0E;                    } /* Keyword.Reserved */
.highlight .kt  { color: $base0A;                    } /* Keyword.Type */
.highlight .ld  { color: $base0B;                    } /* Literal.Date */
.highlight .m   { color: $base09;                    } /* Literal.Number */
.highlight .s   { color: $base0B;                    } /* Literal.String */
.highlight .na  { color: $base0D;                    } /* Name.Attribute */
.highlight .nb  { color: $base0E;                    } /* Name.Builtin */
.highlight .nc  { color: $base0A;                    } /* Name.Class */
.highlight .no  { color: $base0A;                    } /* Name.Constant */
.highlight .nd  { color: $base0C;                    } /* Name.Decorator */
.highlight .ni  { color: $base00;                    } /* Name.Entity */
.highlight .ne  { color: $base08;                    } /* Name.Exception */
.highlight .nf  { color: $base0D;                    } /* Name.Function */
.highlight .nl  { color: $base00;                    } /* Name.Label */
.highlight .nn  { color: $base0A;                    } /* Name.Namespace */
.highlight .nx  { color: $base0D;                    } /* Name.Other */
.highlight .py  { color: $base00;                    } /* Name.Property */
.highlight .nt  { color: $base0C;                    } /* Name.Tag */
.highlight .nv  { color: $base08;                    } /* Name.Variable */
.highlight .ow  { color: $base0C;                    } /* Operator.Word */
.highlight .w   { color: $base00;                    } /* Text.Whitespace */
.highlight .mf  { color: $base09;                    } /* Literal.Number.Float */
.highlight .mh  { color: $base09;                    } /* Literal.Number.Hex */
.highlight .mi  { color: $base09;                    } /* Literal.Number.Integer */
.highlight .mo  { color: $base09;                    } /* Literal.Number.Oct */
.highlight .sb  { color: $base0B;                    } /* Literal.String.Backtick */
.highlight .sc  { color: $base00;                    } /* Literal.String.Char */
.highlight .sd  { color: $base04;                    } /* Literal.String.Doc */
.highlight .s2  { color: $base0B;                    } /* Literal.String.Double */
.highlight .se  { color: $base09;                    } /* Literal.String.Escape */
.highlight .sh  { color: $base0B;                    } /* Literal.String.Heredoc */
.highlight .si  { color: $base09;                    } /* Literal.String.Interpol */
.highlight .sx  { color: $base0B;                    } /* Literal.String.Other */
.highlight .sr  { color: $base0C;                    } /* Literal.String.Regex */
.highlight .s1  { color: $base0B;                    } /* Literal.String.Single */
.highlight .ss  { color: $base0B;                    } /* Literal.String.Symbol */
.highlight .bp  { color: $base00;                    } /* Name.Builtin.Pseudo */
.highlight .vc  { color: $base08;                    } /* Name.Variable.Class */
.highlight .vg  { color: $base08;                    } /* Name.Variable.Global */
.highlight .vi  { color: $base08;                    } /* Name.Variable.Instance */
.highlight .il  { color: $base09;                    } /* Literal.Number.Integer.Long */
